<!doctype html>
<head>
<style>
.container {
  width:780px;
  height:350px;
  display: inline-block;
  vertical-align: top;
}

.placeholder {
  width: 100%%;
  height: 100%%;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.2em;
  float: left;
}

.legend {
  display: inline-block;
  vertical-align: top;
}
</style>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" /></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js" /></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.selection.min.js" /></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js" /></script>
</head>
<body>

<div class="instructions">
<button id="zoomout">zoom out</button>
</div>

<div class="container">
  <div id="placeholder" class="placeholder"></div>
</div>

<div id="legend" class="legend"></div>

<div><label><input id="toggleAll" type="checkbox" checked="checked"
/> Select All</label></div>
<div id="choiceContainer"></div>

<script>
var plotdata = %(plotdata)s;
var choiceContainer = $('#choiceContainer');
var plot = null;

function doPlot()
{
  var data = [];
  choiceContainer.find('input:checked').each(function()
  {
    var key = parseInt($(this).attr("name"), 10);
    if (plotdata[key]) {
      data.push(plotdata[key]);
    }
  });
  plot = $.plot("#placeholder", data, {
    xaxes: [ { mode: "time" } ],
    yaxes: [ { min: 0 }  ],
    grid: { 'hoverable': true, 'clickable': true },
    legend: { container: $('#legend') },
    selection: { mode: "xy" }
  });
}

$.each(plotdata, function(key, value)
{
  var label = value['label'];
  var labelJq = $('<label></label>');
  labelJq.text(label);
  var inputJq = $('<input type="checkbox" />');
  inputJq.attr('name', key);
  inputJq.attr('checked', 'checked');
  inputJq.click(doPlot);
  labelJq.prepend(inputJq);
  choiceContainer.append(labelJq);
});

$('#toggleAll').click(function()
{
  var isChecked = $(this).prop('checked');
  if (isChecked)
  {
    choiceContainer.find('input:checkbox:not(:checked)').prop(
      'checked', true);
  }
  else
  {
    choiceContainer.find('input:checkbox:checked').prop('checked', false);
  }
  doPlot();
});

doPlot();

$("<div id='tooltip'></div>").css({
   position: "absolute",
   display: "none",
   border: "1px solid #fdd",
   padding: "2px",
   "background-color": "#fee",
   opacity: 0.80
}).appendTo("body");

$("#placeholder").bind("plothover", function (event, pos, item)
{
  if (item)
  {
    var x = item.datapoint[0].toFixed(2),
      y = item.datapoint[1].toFixed(2);

    $("#tooltip").html(item.series.label + " of " +
      new Date(Math.floor(x)) + " = " + y)
       .css({top: item.pageY+5, left: item.pageX+5})
       .fadeIn(200);
  }
  else
  {
    $("#tooltip").hide();
  }
});

$("#placeholder").bind("plotselected", function (event, ranges)
{
  $.each(plot.getXAxes(), function(_, axis) {
    var opts = axis.options;
    opts.min = ranges.xaxis.from;
    opts.max = ranges.xaxis.to;
  });
  $.each(plot.getYAxes(), function(_, axis) {
    var opts = axis.options;
    opts.min = ranges.yaxis.from;
    opts.max = ranges.yaxis.to;
  });
  plot.setupGrid();
  plot.draw();
  plot.clearSelection();
});

$('#zoomout').click(function()
{
  $.each(plot.getXAxes(), function(_, axis) {
    var opts = axis.options;
    opts.min = null;
    opts.max = null;
  });
  $.each(plot.getYAxes(), function(_, axis) {
    var opts = axis.options;
    opts.min = null;
    opts.max = null;
  });
  plot.setupGrid();
  plot.draw();
})

</script>
</body>
